@using SimpleApp.Models
@using SimpleApp.Ultilities
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@section head{
    <style type="text/css">
        body {
            /*background: url('http://uniquemedtravel.com/Files/MedicalServices/Organ-Transplantation/image-02.jpg') no-repeat center center fixed;*/
            background: url('../../Content/img/transplantbackground.jpg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
}

<p class="form-title">@ViewBag.Title</p>
<hr />

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <section id="loginForm">
            @using (Html.BeginForm(Constant.Actions.Login, Constant.Controllers.Account, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <!-- Email -->
                    <div class="col-md-10 col-md-offset-4">
                        @Html.TextBoxFor(m => m.Email, new {id = "inputtext", @class = "form-control", placeholder = "EMAIL"})
                        @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                    </div>
                </div>
                    <!-- Password -->
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-4">
                        @Html.PasswordFor(m => m.Password, new { id = "inputtext", @class = "form-control", placeholder = "PASSWORD"})
                        @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                    </div>
                </div>
                    <!-- Remember Me -->
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <div class="checkbox">
                            &nbsp;&nbsp;&nbsp;&nbsp; @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new {@style = "color: #ffffff; font-weight: 400;"})
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <input type="submit" value="LOG IN" class="btn btn-success" />
                    </div>
                </div>
                <p>
                    <div class="col-md-offset-4 col-md-10">

                        @Html.ActionLink("Register as a new user", Constant.Actions.Register)
                        </div>
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@

            }
            
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
