@using SimpleApp.Ultilities
@model SimpleApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@section head{
    <style type="text/css">
        body {
            background: url('../../Content/img/transplantbackground.jpg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
}

<p class="form-title">@ViewBag.Title NEW ACCOUNT</p>

@using (Html.BeginForm(Constant.Actions.Register, Constant.Controllers.Account, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <!-- Email -->
    <div class="form-group">
        <div class="col-md-10 col-md-offset-4">
            @Html.TextBoxFor(m => m.Email, new {id = "inputtext", @class = "form-control", placeholder = "EMAIL"})
        </div>
    </div>
    <!-- Password -->
    <div class="form-group">
        <div class="col-md-10 col-md-offset-4">
            @Html.PasswordFor(m => m.Password, new {id = "inputtext", @class = "form-control", placeholder = "PASSWORD"})
        </div>
    </div>
    <!-- Confirm Password-->
    <div class="form-group">
        <div class="col-md-10 col-md-offset-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { id = "inputtext", @class = "form-control", placeholder = "CONFIRM PASSWORD" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-10">
            <input type="submit" class="btn btn-info" value="REGISTER" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
