@using SimpleApp.Ultilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>@ViewBag.Title Transplant Center</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", false)
</head>
<body>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/signalr/hubs"></script>
    <script src="~/scripts/typescripts/stathub.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <div class="navbar navbar-fixed-top navbar-custom panel-primary">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Transplant Center", Constant.Actions.Index, Constant.Controllers.Dashboard, new {area = ""}, new {@class = "navbar-brand"})
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Case Finder<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Patients", Constant.Actions.Index, Constant.Controllers.Patients)</li>
                            <li>@Html.ActionLink("Donors", Constant.Actions.Index, Constant.Controllers.Donors)</li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <div class="form-group has-feedback">
                                    <input id="searchcase" type="text" class="form-control" placeholder="Search" />
                                    <i class="glyphicon glyphicon-search form-control-feedback"></i>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("New Patient", Constant.Actions.Create, Constant.Controllers.Patients)</li>
                    <li>@Html.ActionLink("New Donor", Constant.Actions.Create, Constant.Controllers.Donors)</li>
                    @*<li>@Html.ActionLink("Insurance", "Insurance", "Home")</li>*@
                    <li>@Html.ActionLink("Transplant", Constant.Actions.Transplant, Constant.Controllers.Home)</li>
                    <li>@Html.ActionLink("Dashboard", Constant.Actions.Index, Constant.Controllers.Dashboard)</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year Transplant Center</p>
    </footer>
</div>
</body>
</html>
