@model SimpleApp.DataLayer.Model.Patient

@{
    ViewBag.Title = "New Patient";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <h3 class="bg-primary">New Patient</h3>
        <div id="big-form" class="well auth-box">

            <form class="form-horizontal">
                <div class="container form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label" for="firstname">First Name </label>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-3">
                            <label class="control-label" for="lastname">Last Name </label>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-2">
                            <label class="control-label" for="dob">Date of Birth </label>
                            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @placeholder = "MM/DD/YYYY" } })
                            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-2">
                            <label class="control-label" for="selectbasic">Sex</label>
                            <div class="">
                                <select id="selectbasic" name="selectbasic" class="form-control">
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="2">Unknown</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container form-group">
                    <div class="row">
                        <div class="control-group col-md-4">
                            <label class="control-label">
                                Does the patient have insurance?
                            </label>
                            <div class="container">
                                <div class="radio">
                                    <label for="radios-0">
                                        @Html.RadioButtonFor(model => model.Insurance, true, new { @id = "radios-0" }) Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label for="radios-1">
                                        @Html.RadioButtonFor(model => model.Insurance, false, new { @id = "radios-1" }) No
                                    </label>
                                </div>
                                @Html.ValidationMessageFor(model => model.Insurance, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container form-group">
                    <div class="row">
                        <div class="control-group col-md-5">
                            <label class="control-label" for="insurancename">Insurance Name </label>
                            <input id="insurancename" name="insurancename" placeholder="Insurance Name" class="form-control input-xs" type="text">
                        </div>
                    </div>
                </div>

                <div class="container form-group">
                    <div class="row">
                        <div class="control-group col-md-5">
                            <label class="control-label">Is patient a California resident?</label>
                            <div class="container">
                                <div class="radio">
                                    <label for="radios-2">
                                        @Html.RadioButtonFor(model => model.CaliforniaResident, true, new { @id = "radios-2" }) Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label for="radios-3">
                                        @Html.RadioButtonFor(model => model.CaliforniaResident, false, new { @id = "radios-3" }) No
                                    </label>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.CaliforniaResident, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                @*<div class="container form-group">
                    <div class="row">
                        <div class="control-group  col-md-5">
                            <label class="control-label">Extra features</label>
                            <div class="container">
                                <div class="checkbox">
                                    <label for="checkboxes-0">
                                        <input name="checkboxes" id="checkboxes-0" value="1" type="checkbox">
                                        Paper plains
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label for="checkboxes-1">
                                        <input name="checkboxes" id="checkboxes-1" value="2" type="checkbox">
                                        Iron man
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

                <div class="container form-group">
                    <div class="row">
                        <div class="control-group  col-md-5">
                            <label class=" control-label">Is patient employed?</label>
                            <div class="container">
                                <label class="checkbox-inline" for="checkboxes-2">
                                    <input name="checkboxes" id="checkboxes-2" value="1" type="checkbox">
                                    Employed
                                </label>
                                <label class="checkbox-inline" for="checkboxes-3">
                                    <input name="checkboxes" id="checkboxes-3" value="2" type="checkbox">
                                    Student
                                </label>
                                <label class="checkbox-inline" for="checkboxes-4">
                                    <input name="checkboxes" id="checkboxes-4" value="3" type="checkbox">
                                    Unemployed
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container form-group">
                    <div class="row">
                        <div class="control-group col-md-12">
                            <label class="control-label" for="comment">Comment</label>
                            <div class="container">
                                <textarea class="form-control" id="comment" name="comment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="form-actions col-md-offset-5">
            <button id="submit" type="submit" value="Create" class="btn btn-primary">Save changes</button>
            <input type="button" value="Cancel" class="btn" onclick="location.href='@Url.Action("Index","Patients")';" />
        </div>
        <div class="clearfix"></div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <h3 class="bg-primary">New Patient</h3>
            <div id="big-form" class="well auth-box">
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DOB, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DOB, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.DOB, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sex, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sex, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Sex, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Insurance, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Insurance)
                            @Html.ValidationMessageFor(model => model.Insurance, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CaliforniaResident, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.CaliforniaResident)
                            @Html.ValidationMessageFor(model => model.CaliforniaResident, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmploymentStatus, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EmploymentStatus, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.EmploymentStatus, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default"/>
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
