@using SimpleApp.Ultilities
@model SimpleApp.Models.PatientVM

@{
    ViewBag.Title = "Details";
}
@section head {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaliforniaResident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaliforniaResident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentStatus)
        </dd>

    </dl>
</div>

<div>
    <h2>Audit Information</h2>
    @foreach (var auditLog in Model.AuditLogs)
    {
        <div class="accordion">
            <p>@auditLog.UserName @auditLog.EventType.ToString().ToLower() this record on @auditLog.EventDateUTC UTC</p>
            <dl class="dl-horizontal">
                @foreach (var detail in auditLog.LogDetails)
                {
                    //if (detail.PropertyName.ToString().Equals("id"))
                    //{
                    //    continue;
                    //}
                    <dt style="width: 170px;">@detail.PropertyName:</dt>

                    <dd>@detail.OriginalValue => @detail.NewValue</dd>
                }
            </dl>
        </div>
    }
</div>

<p>
    @Html.ActionLink("Edit", Constant.Actions.Edit, new { id = Model.Id }) |
    @Html.ActionLink("Back to List", Constant.Actions.Index)
</p>



@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $(function() {
            $(".accordion").accordion({
                collapsible: true,
                active: false
            });
        });
    </script>
}